<div style="display: block; height: 50px;">
  <div class="btn-group" style="float: right;">
    <button class="btn" (click)="this.openActionFlowRegisterForm()" i18n="Add action flow button | Button that triggers the event to open the form to register a new action flow @@action-flow-data-grid.button.add">add</button>
    <button class="btn" [disabled]="this.selected.length != 1" (click)="this.editActionFlow()" i18n="Edit action flow button | Button that triggers the event to open the form to edit a existent action flow @@action-flow-data-grid.button.edit">Edit</button>
    <button class="btn" [disabled]="this.selected.length === 0" (click)="this.deleteActionFlow()" i18n="Delete action flow button | Button that triggers a service to remove selected action flow on the grid @@action-flow-data-grid.button.delete">Delete</button>
  </div>
</div>
<clr-datagrid [(clrDgSelected)]="selected" [clrDgRowSelection]="true">
  <clr-dg-column *ngFor="let column of this.columns" [clrDgField]="column">{{column}}</clr-dg-column>
  <clr-dg-row *clrDgItems="let project of this.projectList" [clrDgItem]="project">
    <clr-dg-cell>{{project.name}}</clr-dg-cell>
    <clr-dg-cell>{{project.status}}</clr-dg-cell>
    <clr-dg-cell>{{project.priority}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{this.projectList.length}} <span i18n="Label action flows| Complementary text of the action flow grid for information on the number of records @@action-flow-data-grid.label.action-flow">action flows</span></clr-dg-footer>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="50">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]" i18n="Label itens per page| Complementary text of the project grid for information on quantity of registers showed in the datagrid @@action-flow-data-grid.label.action-flow">Items per page</clr-dg-page-size>
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
