<div class="main-container">
  <app-header-fragment></app-header-fragment>
  <div class="content-container">
    <div class="content-area">
      <h1 style="float: left;">Action flows</h1>
      <div style="display: block; height: 50px;">
        <div class="btn-group" style="float: right;">
          <app-action-flow-create-component></app-action-flow-create-component>
        </div>
      </div>
      <app-action-flow-datagrid-component></app-action-flow-datagrid-component>
    </div>
  </div>
</div>
