<header class="header-6">
  <div class="header-nav">
      <a routerLink="/dashboard"class="nav-link nav-text" routerLinkActive="active" i18n="Dashboard page link | Navigation menu link to access the dashboard page @@header-fragment.link.dashboard">Dashboard</a>
      <a routerLink="/projects" class="nav-link nav-text" routerLinkActive="active" i18n="Projects page link | Navigation menu link to access the projects page @@header-fragment.link.projects">Projects</a>
      <a routerLink="/groups" class="nav-link nav-text" routerLinkActive="active" i18n="Groups page link | Navigation menu link to access the groups page @@header-fragment.link.groups">Groups</a>
      <a routerLink="/approval-flows" class="nav-link nav-text" routerLinkActive="active" i18n="Approval flows page link | Navigation menu link to access the approval flows page @@header-fragment.link.approval-flows">Approval flows</a>
      <a routerLink="/action-flows" class="nav-link nav-text" routerLinkActive="active" i18n="Action flows page link | Navigation menu link to access the action flows page @@header-fragment.link.approval-flows">Action flows</a>
      <a routerLink="/users" class="nav-link nav-text" routerLinkActive="active" i18n="Users page link | Navigation menu link to access the users page @@header-fragment.link.users">Users</a>
  </div>
  <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
          <clr-icon shape="cog"></clr-icon>
      </a>
  </div>
</header>
